.botao{
    padding: 0 30px;
    font-weight: 600;
    letter-spacing: .5px;
}

.cheio{
    background-color: white;
    color: black;
    border: none;
    transition: .3s;
}

.cheio:hover{
    transform: translateY(-7px);
    transition: .3s;
}

.vazio{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.463);
    color: white;
    transition: .3s;
}

.vazio:hover{
    background-color: rgba(211, 211, 211, 0.175);
    transition: .3s;
}