.tracinho{
    width: 40px;
    height: 3px;
    background-color: rgb(0 31 63 / 0.8);
}

.titulo{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
}

.textoNovidades{
    font-size: 11px;
    font-weight: 700;
    color: rgb(156 163 175);
    letter-spacing: .3em;
    margin-left: 10px;
}

.select{
    transition: .3s;
}

.select:focus{
    outline: none;
    border: 3px solid rgb(0 31 63 / 0.8);
    transition: .3s;
}