.nav{
    text-align: center;
    font-weight: bold;
}

.iconLogo{
    width: 30px;
    height: 30px;
    color: black;
}

h1{
    color: var(--azul-titulo);
    font-size: 1.5rem;
    font-weight: 800;
}

nav a{
    color: var(--cinza);
    transition: .2s;
    letter-spacing: 1px;
}

nav a:hover{
    color: var(--azul-titulo);
    transition: .2s;
}

.btnLoginAdm{
    background-color: var(--azul-titulo);
    color: white;
    border-radius: 20px;
    padding: 10px;
}