.nav{
    text-align: center;
    font-weight: bold;
}

.iconLogo{
    width: 30px;
    height: 30px;
    color: black;
}

h1{
    color: #001F3F;
    font-size: 1.5rem;
    font-weight: 800;
}

nav a{
    color: #6b7280;
    transition: .2s;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
}

nav a:hover{
    color: #6b7280;
    transition: .2s;
}

.btnLoginAdm{
    background-color: #001F3F;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
    border: none;
}