.iconLogo {
    width: 30px;
    height: 30px;
    color: black;
}

.corCinzaClaro {
    color: rgb(107 114 128);
}

.cinzaEscuro {
    color: rgb(156 163 175);
    font-weight: 700;
    font-size: .7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.coracao {
    color: rgb(248 113 113);
    font-size: .8rem;
}

.redesContainer a {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid rgb(107 114 128);
    border-radius: 100%;
}

.redesContainer a span {
    color: rgb(107 114 128);
}