@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: "Saira", Arial, Helvetica, sans-serif;
}

:root{
    --azul-titulo: 	#001F3F;
    --cinza:#6b7280;
    --cinza-claro: #e5e7eb;
}